@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}
li{
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
header{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 30px 10%;
}
nav li{
    display: inline-block;
    padding: 0 20px;
}
.btn{
    color: #edf0f1;
    padding:4px 5px 4px 5px;
    border-radius: 0.4rem;
    border: 0.3px rgb(121, 47, 47) solid;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(55, 106, 126)(53, 38, 38);
    color: white;
    text-align: center;
    margin-top: auto;
    padding-top: 10px;
  }
footer li{
    display: inline-block;
    padding: 0 20px; font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}
